<html>
    <head>
        <h1><a href="/">Accueil</a></h1>
    </head>
    <body>
        {% if error %}
        <p>
            <div>{{error}}</div>
        </p>
        {% endif %}
        {% block header %}{% endblock %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>