{% extends 'base.html' %}

{% block content %}
    <h2>Ajouter un film</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title }}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year}}
        </p>
        <p>
            {{ form.director.label }}<br>
            {{ form.director }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr/>
    <h2>Tous les films</h2>
    {%for i in range(0,length)%}
    <p>
        <div><a href="/reviews/{{movies[i].id}}">{{movies[i].title}} de {{movies[i].director}} ({{movies[i].release_date.year}})</a></div>
    <p>
    {%endfor%}
{% endblock %}