{% extends 'base.html' %}

{% block content %}
    <h1>Tous les avis sur {{movie.title}} de {{movie.director}} ({{movie.release_date.year}})</h1>
    <hr>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name }}
        </p>
        <p>
            {{ form.rating.label }}<br>
            {{ form.rating(min=0, max=10)}}
        </p>
        <p>
            {{ form.review.label }}<br>
            {{ form.review }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    {% if length == 0 %}
        <p>
            <h2>Aucun avis</div>
        </p>
    {% else %}
        {%for i in range(0,length)%}
        <p>
            <div><b>{{reviews[i].user}} a attribué {{reviews[i].rating|int}}/10</b></div>
            <div>{{reviews[i].review}}</div>
            <div>{{reviews[i].date}}</div>
        </p>
        {%endfor%}
    {% endif %}
{% endblock %}